################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Analogy.LogViewer.KafkaProvider/v16
/Analogy.Implementation.KafkaProvider/bin/Debug/netstandard2.0
/Analogy.Implementation.KafkaProvider/obj
/Analogy.Implementation.KafkaProvider.UnitTests/bin/Debug
/Analogy.Implementation.KafkaProvider.UnitTests/obj/Debug
/packages
/.vs/Analogy.LogViewer.KafkaProvider/DesignTimeBuild
/Analogy.Implementation.KafkaProvider/bin/Release/netstandard2.0
*.nupkg
/Analogy.Implementation.KafkaProvider/nuget.exe
/Analogy.Implementation.KafkaProvider.Example/bin
/Analogy.Implementation.KafkaProvider.Example/obj
/Analogy.Implementation.KafkaProvider.UnitTests/bin/Release
/Analogy.Implementation.KafkaProvider.UnitTests/obj/Release
/Analogy.Implementation.KafkaProvider/Properties/PublishProfiles
/nuget.exe
*.snupkg
/Analogy.Implementation.KafkaProvider.UnitTests/obj
/Analogy.Implementation.KafkaProvider/Analogy.Implementation.KafkaProvider.csproj.user
/Analogy.Implementation.KafkaProvider/bin/Release
/_ReSharper.Caches/ReSharperPlatformVs16201_75ed2326.Analogy.LogViewer.KafkaProvider.00
/Analogy.Implementation.KafkaProvider/bin/Debug
/_ReSharper.Caches/ReSharperPlatformVs16202_5b6e5e70.Analogy.LogViewer.KafkaProvider.00
